* {
    margin: 0%;
    padding: 0%;
}

.navlogo {
    margin-left: 25px;
    height: 50px;
    width: 90px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background-color: rgba(211, 211, 211, 0.123);
    padding-right: 25px;
    padding-top: 10px;
}

.navbar {
    background-color: rgba(211, 211, 211, 0.123);
    height: 65px;
    width: 100%;
}

.collapse {
    display: flex;
    justify-content: space-around;
}

.navsearch {
    display: flex;
    font-size: 14px;
    padding-left: 2%;
    padding-bottom: 2px;
    height: 38px;
    width: 69%;
    color: rgb(173, 172, 172);
    border: 1px solid rgba(211, 211, 211, 0.322);
    background-color: rgba(211, 211, 211, 0.041);
}

.navsearch:focus {
    /* outline-style: none; */
    outline: none;
}

.dropdown-item:focus {
    background-color: white;
}

.navbutton {
    font-size: 13px;
    padding-bottom: 1px;
    color: white;
    background-color: rgba(255, 0, 0, 0.705);
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.navplace {
    width: 125px;
    padding-top: 0px;
    font-size: 14px;
    border: none;
    background-color: rgba(211, 211, 211, 0.034);
    display: flex;
    justify-content: space-evenly;

}

.navplace span {
    margin-top: -15px;
}

.navplace:focus {
    width: 125px;
    padding-top: 0px;
    font-size: 14px;
    color: black;
    font-weight: none;
    text-decoration: none;
}

.log {
    padding: 0%;
    display: flex;
    justify-content: space-around;
    border: 0px 0px 1px 0px solid white;
    box-shadow: 0px .1px 8px rgba(0, 0, 0, 0.329);
}

.log span svg {
    height: 35px;
    width: 35px;
}

.log p {
    display: flex;
    align-items: start;
    font-size: 14px;
    width: 150px;
}

.log button {
    height: 38px;
    width: 110px;
    font-size: 12.5px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgba(255, 30, 0, 0.705);
    color: rgba(255, 0, 0, 0.822);
}

.menu {
    padding: 0%;
}

.notifi {
    overflow: hidden;
    display: flex;
}

.notifi span {
    padding: 15px 15px 0px 15px;
}

.notifi .para {
    padding: 17px 15px 0px 5px;
    font-size: 15px;
    width: 320px;
}

.para1 {
    width: 320px;
    padding: 8px 15px 0px 5px;
    margin: 0px;
}

.para2 {
    font-size: 12px;
    color: rgb(102, 101, 101);
    padding: 0px 0px 0px 5px;
    margin-bottom: 10px;
}

.menu a li:hover {
    background-color: lightgray;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.navbar-toggler {
    border: none;
}

.signmodal{
    width: 80%;
}
.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.google {
    width: 80%;
    height: 45px;
    border: 1px solid rgb(158, 157, 157);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.google:hover{
    border: none;
    background-color: rgba(211, 211, 211, 0.37);
    transition: 0.9s;
}
.google p{
    color: rgb(90, 90, 90);
    font-size: 14px;
    font-weight: 500;
}
.inum{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.phone{
    border: 1px solid;
    border-color: lightgrey;
    border-top: none;
    margin-top: -5px;
    margin-left: 10px;
    border-left: none;
    border-right: none;
    font-size: 14px;
    width: 275px;
}
.phone:focus{
    outline: none;
    border-color: rgba(255, 0, 0, 0.63);
}
.inum input{
    margin-bottom: 10px;
}
.agree{
    display: flex;
    flex-direction: row;
}
.agree p{
    padding: 0%;
    margin: 0%;
    margin-left: 5px;
    font-size: 12px;
}
.agree p a{
    margin-left: 5px;
    margin-right: 5px;
}
.modalclose{
    display: flex;
    justify-content: space-between;
}
.modalclose h1{
    margin-left: 40%;
    margin-top: 5px;
}
.modalclose button{
    color: rgb(104, 103, 103);
    border: none;
    background-color: white;
}
.inum img{
    height: 20px;
    width: 20px;
}
.inum p{
    font-size: 14px;
    margin-left: 2px;
}
.moviesul {
    font-size: 14px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li,
a {
    text-decoration: none;
    color: black;
    list-style: none;
}

.moviesection {
    padding-top: 7px;
    max-width: 100%;
    height: 40px;
    background-color: rgba(211, 211, 211, 0.514);
}

.moviesright {
    opacity: 0.8;
    position: absolute;
    margin-left: 58%;
    font-size: 14px;
    min-width: 40%;
    margin-top: -36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.movies {
    height: 300px;
    background-color: rgba(211, 211, 211, 0.678);
}

.carousel-item {
    padding-top: 13px;
    width: 100%;
    height: 230px;
}

.collections {
    padding-top: 70px;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.308);
}

.filterhead {
    font-weight: 700;
    font-size: 25px;
    width: 100%;
}

.language {
    border-radius: 5px;
    background-color: white;
    width: 290px;
    min-height: 50px;
    max-height: 200px;
}

.language .languagebtn {
    display: flex;
    background-color: white;
    border: none;
    color: rgb(245, 8, 19);
}
.languagebtn p{
    font-size: 15px;
}
.language p {
    margin-top: 10px;
}

.language span {
    margin: 17px;
    display: flex;
    color: black;
}

.languages button {
    font-size: 14px;
    padding: 1% 1%;
    border-radius: 0%;
    border: 1px solid rgba(223, 217, 217, 0.973);
    color: rgb(245, 8, 19);
}

.languages button:hover {
    border: 1px solid rgba(211, 211, 211, 0.973);
    color: rgb(245, 8, 19);
}

.languages {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
}

.languages .coll {
    margin-bottom: 20px;
}

.genere {
    border-radius: 5px;
    margin-top: 15px;
    background-color: white;
    width: 290px;
    min-height: 50px;
    max-height: 350px;
}

.genere .generesbtn {
    display: flex;
    background-color: white;
    border: none;
    color: rgb(245, 8, 19);
}
.generesbtn p{
    font-size: 15px;
}
.genere span {
    margin: 17px;
    display: flex;
    color: black;
}

.genere p {
    margin-top: 10px;
}

.generes button {
    font-size: 14px;
    padding: 1% 2%;
    border-radius: 0%;
    border: 1px solid rgba(223, 217, 217, 0.973);
    color: rgb(245, 8, 19);
}

.generes button:hover {
    border: 1px solid rgba(211, 211, 211, 0.973);
    color: rgb(245, 8, 19);
}

.generes {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
}

.generes .coll {
    margin-bottom: 20px;
}


.format {
    border-radius: 5px;
    margin-top: 15px;
    background-color: white;
    width: 290px;
    min-height: 50px;
    max-height: 350px;
}

.format .formatbtn {
    display: flex;
    background-color: white;
    border: none;
    color: rgb(245, 8, 19);
}
.formatbtn p{
    font-size: 15px;
}
.format span {
    margin: 17px;
    display: flex;
    color: black;
}

.format p {
    margin-top: 10px;
}

.formats button {
    font-size: 14px;
    padding: 1% 2%;
    border-radius: 0%;
    border: 1px solid rgba(223, 217, 217, 0.973);
    color: rgb(245, 8, 19);
    margin-bottom: 20px;
    height: 30px;
}

.formats {
    width: 250px;
    display: flex;
    gap: 10px;
    justify-content: start;
}

.formats button:hover {
    border: 1px solid rgba(223, 217, 217, 0.973);
    color: rgb(245, 8, 19);
}

.clear {
    position: absolute;
    border: none;
    background-color: white;
    margin: -38px -10px 0px 92px;
    color: rgb(83, 83, 83);
    font-size: 13px;
}

.browse button {
    width: 288px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid rgba(247, 6, 78, 0.767);
    color: rgba(247, 6, 78, 0.767);
    border-radius: 5px;
}

.movieslanguage {
    position: sticky;
    margin-top: 20px;
    display: flex;
    width: 100%;
    margin-left: -5px;
    overflow-x: scroll;
}

.movieslanguage::-webkit-scrollbar {
    display: none;
}

.movieslanguage button {
    font-size: 13px;
    margin-inline: 6px;
    color: rgba(247, 6, 78, 0.767);
    justify-content: space-between;
    padding: 3px 8px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
}

.comingsoon {
    margin-top: 30px;
    border-radius: 5px;
    font-weight: 700;
    height: 50px;
    width: 98%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.comingsoon button {
    padding-right: 30px;
    border: none;
    background-color: white;
    color: rgba(247, 6, 78, 0.767);
    font-size: 13px;
    height: 25px;
}

.comingsoon p {
    font-size: 14px;
    padding-left: 25px;
    margin: 0%;
}

.movieslist {
    margin-top: 50px;
    gap: 35px;
}

.movieslist {
    width: 160px;
    height: 300px;
}

.movieslist img {
    border-radius: 10px;
    height: 200px;
    width: 160px;
}

.movieslist img,
h3,
p {
    display: flex;
    font-size: 15px;
    justify-content: start;
}
.lan{
    padding: 0%;
    margin-top: -10px;
}
.movielist img {
    display: flex;
    justify-content: start;
}

.movieslist h3 {
    margin-top: 20px;
}

/* .movieslist .lan {
    margin-top: 0%;
} */

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.navbar .top {
    margin-left: 30px;
    border: none;
    background-color: white;
}

.navbar .num {
    width: 87%;
    font-weight: bold;
}

.navbar .place {
    font-weight: bold;
    margin-left: 68px;
    margin-top: 35px;
    position: absolute;
    width: 50%;
}

@media screen and (min-width:320px) and (max-width:375px) {
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .movielist img {
        border-radius: 10px;
    }

    .comingsoon p {
        padding-left: 10px;
    }

    .navbar {
        background-color: white;
    }

    .comingsoon button {
        padding-right: 10px;
    }

}

@media screen and (min-width:320px) and (max-width:425px) {
    .movieslanguage {
        width: 150%;
    }

    .navbar {
        background-color: white;
    }

    .comingsoon {
        width: 150%;
    }

    .movielist img {
        border-radius: 10px;
    }
}

@media screen and (min-width:320px) and (max-width:374px) {
    .navbar .num {
        width: 65%;
        font-weight: bold;
    }

    .navbar .place {
        margin-left: 57px;
        width: 45%;
        font-weight: bold;
    }

    .movie-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-left: 40px;
    }


    .movies-cbe {
        margin-top: -120px;
    }

    .movielist img {
        border-radius: 10px;
        height: 300px;
        width: 220px;
    }

    .movies {
        height: 350px;
        background-color: rgb(255, 255, 255);
    }

    .carousel-item {
        padding-top: 0px;
        height: 350px;
    }

    .navbar {
        background-color: white;
    }

    .movieslanguage {
        width: 150%;
    }

    .comingsoon {
        width: 152%;
    }

    .collections {
        background-color: white;
    }

    .comingsoon button {
        background-color: red;
        color: white;
    }

    .comingsoon p {
        color: white;
    }

    .comingsoon {
        background-color: red;
        width: 152%;
    }
}

@media screen and (min-width:375px) and (max-width:424px) {
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-left: 0px;
    }

    .navbar .num {
        width: 65%;
        font-weight: bold;
    }

    .navbar {
        background-color: white;
    }

    .movies-cbe {
        margin-top: -100px;
    }

    .movielist img {
        border-radius: 10px;
        width: 160px;
        height: 200px;
    }

    .movies {
        height: 350px;
        background-color: rgb(255, 255, 255);
    }

    .carousel-item {
        padding-top: 0px;
        height: 350px;
    }

    .navbar {
        background-color: white;
    }

    .movieslanguage {
        width: 150%;
    }

    .comingsoon {
        width: 152%;
    }

    .collections {
        background-color: white;
    }

    .comingsoon button {
        background-color: red;
        color: white;
    }

    .comingsoon p {
        color: white;
    }

    .comingsoon {
        background-color: red;
        width: 152%;
    }
}

@media screen and (min-width:425px) and (max-width:539px) {
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-left: 25px;
    }

    .navbar .num {
        width: 69%;
        font-weight: bold;
    }

    .movies-cbe {
        margin-top: -100px;
    }

    .movielist img {
        border-radius: 10px;
        width: 160px;
        height: 200px;
    }

    .movies {
        height: 350px;
        background-color: rgb(255, 255, 255);
    }

    .carousel-item {
        padding-top: 0px;
        height: 350px;
    }

    .navbar {
        background-color: white;
    }

    .movieslanguage {
        width: 150%;
    }

    .comingsoon {
        width: 152%;
    }

    .collections {
        background-color: white;
    }

    .comingsoon button {
        background-color: red;
        color: white;
    }

    .comingsoon p {
        color: white;
    }

    .comingsoon {
        background-color: red;
        width: 152%;
    }
}

@media screen and (min-width:540px) and (max-width:590px) {
    .movies-cbe {
        position: relative;
        top: -40px;
    }

    .navbar .num {
        width: 17%;
        padding-left: 18px;
        font-weight: bold;
    }

}

@media screen and (min-width:539px) and (max-width:768px) {
    .navbar .num {
        width: 82%;
        font-weight: bold;
    }

    .movieslanguage {
        width: 150%;
    }

    .navbar {
        background-color: white;
    }

    .movielist img {
        border-radius: 10px;
        width: 160px;
        height: 200px;
    }

    .movie-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-left: 0px;
    }

    .movies {
        height: 350px;
        background-color: rgb(255, 255, 255);
    }

    .carousel-item {
        padding-top: 0px;
        height: 350px;
    }

    .movies-cbe {
        margin-top: -60px;
    }

    .collections {
        background-color: white;
    }

    .comingsoon button {
        background-color: red;
        color: white;
    }

    .comingsoon p {
        color: white;
    }

    .comingsoon {
        background-color: red;
        width: 152%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .movielist img {
        border-radius: 10px;
    }
}

@media screen and (min-width:769px) and (max-width:991px) {
    .comingsoon {
        width: 132%;
    }

    .movielist img {
        border-radius: 10px;
    }

    .movieslanguage {
        width: 130%;
    }

    .movies-cbe {
        margin-top: -50px;
    }

    .movies {
        height: 350px;
        background-color: rgb(255, 255, 255);
    }

    .movielist img {
        border-radius: 10px;
        width: 160px;
        height: 200px;
    }

    .movie-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-left: 0px;
    }

    .carousel-item {
        padding-top: 0px;
        height: 350px;
    }

    .navbar {
        background-color: white;
    }

    .movieslanguage {
        width: 150%;
    }

    .comingsoon {
        width: 152%;
    }

    .collections {
        background-color: white;
    }

    .comingsoon button {
        background-color: red;
        color: white;
    }

    .comingsoon p {
        color: white;
    }

    .comingsoon {
        background-color: red;
        width: 152%;
    }
}

@media screen and (min-width:1199px) and (max-width:1440px) {
    .movielist img {
        border-radius: 10px;
    }

    .browse button {
        margin-left: -30%;
    }
}